body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
h1 {
    text-align: center;
}
.block-container {
    text-align: center; 
}
.block {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 2px solid #000;
    display: inline-block;
}

.block1 { background-color: #ff9999; 
}
.block2 { background-color: #99ff99; 
          background-image: url('./images/repeat.png'); 
}
.block3 { background-color: #9999ff; 
          background-image: url('./images/repeat.png'); 
          background-repeat: repeat-x; 
}
.block4 { background-color: #ffff99; 
          background-image: url('./images/repeat.png'); 
          background-repeat: repeat-y; 
}
.block5 { background-color: #ffcc99; 
          background-image: url('./images/repeat.png'); 
          background-attachment: fixed; 
}

/*Стили для формы*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
    border: 1px solid black;
    width: 50%;
}
.item{
    padding: 10px;
    border: 1px solid black;
}
.item_1{
    grid-row: 1/3;
}
.item_4{
    grid-column: 1/3;
    height: 25px;
    border: none;
    display: flex;
    text-align: center;
}
.input-group {
    display: flex;
    flex-direction: column;
}

/*Задание 3*/

/* Псевдоэлемент before для первого пункта в списке */
ul li:first-child::before {
  content: "► ";
  color: red;
}

/* Псевдоэлемент after для последнего пункта в списке */
ul li:last-child::after {
  content: " [Конец]";
  color: blue;
}

/* Псевдокласс selected для выбранного элемента (например, активного пункта в списке) */
li.selected {
  background-color: yellow;
}

/*Задание 4*/

/* Стили для обычной ссылки (link) */
a:link {
  color: blue; /* Цвет ссылки */
  text-decoration: none; /* Убираем подчеркивание */
}

/* Стили для посещенной ссылки (visited) */
a:visited {
  color: purple; /* Цвет посещенной ссылки */
}

/* Стили для активной ссылки (active) */
a:active {
  color: red; /* Цвет активной ссылки (при клике) */
}

/* Стили для ссылки при наведении (hover) */
a:hover {
  color: green; /* Цвет ссылки при наведении */
  text-decoration: underline; /* Добавляем подчеркивание при наведении */
}

  
 